<div class=" site-blocks-cover background"
    style="background-image: url(./assets/images/requested-services/reqservicesbg.png);" data-aos="fade">

</div>

<main class="{{langVar.arabicClass}}">

    <h1 class="{{langVar.textAlign}}">
        Requested Services
    </h1>

    <div class="tableContainer">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Service</th>
                        <th scope="col">Type</th>
                        <th scope="col">Requested Date</th>
                        <th scope="col">Bank</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let requestedService of requestedServices; let i = index;">
                        <td scope="row">{{i+1}}</td>
                        <td>{{requestedService.services.nameEN}}</td>
                        <td>{{requestedService.serviceTypes.nameEN}}</td>
                        <td>{{requestedService.date | date: 'MMM d, y, h:mm a'}}</td>
                        <td>{{requestedService.banks.name}}</td>
                        <td
                            [ngClass]="{'text-warning':requestedService.status=='Pending', 'text-danger':requestedService.status == 'Rejected', 'text-success':requestedService.status == 'Approved'}">
                            {{requestedService.status}}</td>
                        <td><button class="btn btn-primary" *ngIf="requestedService.status == 'Pending'"
                                (click)="DisplayCancellationConfirmation(requestedService.id)">Cancel</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>


<app-modal (SetConfirmation)="ModalResponse($event)"></app-modal>