<div class=" site-blocks-cover background" style="    background-image: url(./assets/images/contact/cover.png);">
</div>

<section class="mb-5">
     <div class="container">
          <div class="row">
               <div class="col-lg-7 col-12">
                    <h1 class="mb-4 ml-4">Send Us A Message</h1>
                    <form [formGroup]="contactForm">
                         <div class="input-container">
                              <label for="firstName">First Name</label>
                              <input class="form-control mb-2" type="text" name="firstName" placeholder="First Name"
                                   formControlName="contactFirstName" />
                              <img src="./assets/images/icons/icon-user.png" width="20" height="20" />
                              <div *ngIf="contactFormControls.contactFirstName.invalid && (contactFormControls.contactFirstName.dirty|| contactFormControls.contactFirstName.touched)"
                                   class="alert alert-danger mt-1 px-2 py-0 mb-0" style="display:block; ">
                                   <div *ngIf="contactFormControls.contactFirstName.errors.required">
                                        First name is required
                                   </div>
                                   <div *ngIf="contactFormControls.contactFirstName.errors.pattern">
                                        First name must not include digits, symbols or spaces
                                   </div>
                              </div>
                         </div>
                         <div class="input-container">
                              <label for="lastName">Last Name</label>
                              <input class="form-control mb-2" type="text" name="lastName" placeholder="Last Name"
                                   formControlName="contactLastName" />
                                   <img src="./assets/images/icons/icon-user.png" width="20" height="20" />
                              <div *ngIf="contactFormControls.contactLastName.invalid && (contactFormControls.contactLastName.dirty|| contactFormControls.contactLastName.touched)"
                                   class="alert alert-danger mt-1 px-2 py-0 mb-0" style="display:block; ">
                                   <div *ngIf="contactFormControls.contactLastName.errors.required">
                                        Last name is required
                                   </div>
                                   <div *ngIf="contactFormControls.contactLastName.errors.pattern">
                                        Last name must not include digits, symbols or spaces
                                   </div>
                              </div>
                         </div>
                         <div class="input-container">
                              <label for="contactEmail">Email Address</label>
                              <input class="form-control mb-2" type="text" name="contactEmail" placeholder="Email"
                                   formControlName="email" />
                                   <img src="./assets/images/icons/icon-email.png" width="20" height="20" />
                              <div *ngIf="contactFormControls.email.invalid && (contactFormControls.email.dirty|| contactFormControls.email.touched)"
                                   class="alert alert-danger mt-1 px-2 py-0 mb-0" style="display:block; ">
                                   <div *ngIf="contactFormControls.email.errors.required">
                                        Email is required
                                   </div>
                                   <div *ngIf="contactFormControls.email.errors.email">
                                        Email must be in a correct format (ex: example@mail.com)
                                   </div>
                              </div>
                         </div>
                         <div class="input-container">
                              <label for="contactNumber">Phone</label>
                              <input class="form-control mb-2" type="text" name="contactNumber"
                                   placeholder="Phone Number" formControlName="mobileNumber" />
                                   <img src="./assets/images/icons/icon-phone.png" width="20" height="20" />
                              <div *ngIf="contactFormControls.mobileNumber.invalid && (contactFormControls.mobileNumber.dirty|| contactFormControls.mobileNumber.touched)"
                                   class="alert alert-danger mt-1 px-2 py-0 mb-0" style="display:block; ">
                                   <div *ngIf="contactFormControls.mobileNumber.errors.required">
                                        Phone number is required
                                   </div>
                                   <div *ngIf="contactFormControls.mobileNumber.errors.pattern">
                                        Phone number must be in a correct format
                                   </div>
                              </div>
                         </div>
                         <div class="input-container">
                              <label for="contactSubject">Subject</label>
                              <input class="form-control mb-2" type="text" name="contactSubject" placeholder="Subject"
                                   formControlName="contactSubject" />
                              <div *ngIf="contactFormControls.contactSubject.invalid && (contactFormControls.contactSubject.dirty|| contactFormControls.contactSubject.touched)"
                                   class="alert alert-danger mt-1 px-2 py-0 mb-0" style="display:block; ">
                                   <div *ngIf="contactFormControls.contactSubject.errors.required">
                                        Subject is required
                                   </div>
                                   <div *ngIf="contactFormControls.contactSubject.errors.pattern">
                                        Subject must be in a correct format
                                   </div>
                              </div>
                         </div>
                         <div class="input-container">
                              <label for="contactMessage">Your Message</label>
                              <textarea class="form-control mb-4" formControlName="contactMessage"></textarea>
                              <div *ngIf="contactFormControls.contactMessage.invalid && (contactFormControls.contactMessage.dirty|| contactFormControls.contactMessage.touched)"
                                   class="alert alert-danger mt-1 px-2 py-0 mb-0" style="display:block; ">
                                   <div *ngIf="contactFormControls.contactMessage.errors.required">
                                        Message is required
                                   </div>
                                   <div *ngIf="contactFormControls.contactMessage.errors.pattern">
                                        Message must be in a correct format
                                   </div>
                              </div>
                         </div>
                         <button type="submit" [disabled]="!contactForm.valid" *ngIf="!disabled"
                              (click)="CreateContactRequest()" class="btn btn-primary">Contact</button>
                         <label style="color: #31d190;" *ngIf="contactResult == 'success'">Your message have been sent
                              successfully</label>
                         <label style="color: #2c3e50" *ngIf="contactResult == 'failure'">Error sending message, please
                              try again shortly</label>
                    </form>
               </div>
               <div class="col-lg-5 col-12 text-center">
                    <div class="mt-5 infoSection">
                         <h3><img src="./assets/images/icons/icon-location.png" width="20" height="25" class="mr-2" /> Find us at the office</h3>
                         <p class="mt-3">+201133223344</p>
                         <p>Bmap@gmail.com</p>
                         <p>Cairo City</p>
                    </div>
                    <div class="infoSection">
                         <h3><img src="./assets/images/icons/icon-phone-ring.png" width="20" height="20" class="mr-2"/>Give us a ring</h3>
                         <p class="mt-3">+201133223344</p>
                         <p>Bmap@gmail.com</p>
                         <p>Cairo City</p>
                    </div>
                    <div class="infoSection">
                         <h3><img src="./assets/images/icons/icon-info.png" width="20" height="20" class="mr-2"/>Legal information</h3>
                         <p class="mt-3">+201133223344</p>
                         <p>Bmap@gmail.com</p>
                         <p>Cairo City</p>
                    </div>
               </div>
          </div>
     </div>
</section>
<!--Map section-->
<section class="mt-5">
     <div class="container-fluid" style="padding: 0;">
          <div class="row mapContainer">
               <iframe class="Mapfram col-12"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1452.5718534483174!2d31.293471505588318!3d30.013394356836127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzDCsDAwJzQ3LjciTiAzMcKwMTcnMzYuNiJF!5e0!3m2!1sar!2seg!4v1608540644488!5m2!1sar!2seg"
                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
     </div>
</section>
