

.arabic h1, .arabic h2, .arabic h3, .arabic h4, .arabic h5, .arabic h6, .arabic p, .arabic .nav-link, .arabic a {
  font-family: 'Cairo';
}

.background {
  background: url(../../../assets/images/contact/cover.png) no-repeat 0 0;
  background-position: bottom;
  background-size: cover;
  height: 70vh;
}

.form-control{
  width: 65%;
}
textarea{
  border-radius: 15px;
  height: 100px;
}

.btn{
  background-color: #1351c3 !important;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 23%;
}

h3{
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

h1{
  font-weight: 500;
  font-size: 28px;
  color: #000000;

}

.mapContainer
{
    height:60vh ;
}

.input-container{
  position: relative;
  input{
    text-indent: 30px;
  }
  img{
    position: absolute;
    top: 10px;
    left: 15px;
  }
}
.ar-icon{
  left: 0;
  right: 11px;
}
.ar-info-icon{
  left:0;
  right: 50px;
}
.infoSection {
  position: relative;

  p {
    line-height: 1.1rem;
  }

  img {
    position: absolute;
    left: 80px;
  }
}


@media screen and (max-width: 900px) {
  form{
    text-align: center;
  }
  .form-control{
    margin: 0 auto;
  }
  .input-container{
    img{
      left: 72px;
    }
  }
  .btn{
    margin: 0;
  }
  .infoSection{
    img{
      left: 40px;
    }
  }
}
