<div class=" site-blocks-cover background" style="    background-image: url(./assets/images/contact/cover.png);">
</div>

<section class="mb-5">
     <div class="container">
          <div class="row" dir="{{langVar.dir}}" >
               <div class="col-lg-7 col-12">
                    <h1 class="mb-4 ml-4" [ngClass]="{'text-right': currentLang == 'ar'}">{{langVar.contact.title}}</h1>
                    <form [formGroup]="contactForm">
                         <div class="input-container mb-4">
                              <input class="form-control mb-2" type="text" name="firstName" placeholder="{{langVar.placeholder.FirstName}}"
                                   formControlName="contactFirstName" />
                              <img src="./assets/images/icons/icon-user.png" width="20" height="20" [ngClass]="{'ar-icon': currentLang == 'ar'}" />
                              <div *ngIf="contactFormControls.contactFirstName.invalid && (contactFormControls.contactFirstName.dirty|| contactFormControls.contactFirstName.touched)"
                                   class="alert alert-danger mt-1 px-2 py-0 mb-0" style="display:block; ">
                                   <div *ngIf="contactFormControls.contactFirstName.errors.required">
                                        {{langVar.invalid.requiredName}}
                                   </div>
                                   <div *ngIf="contactFormControls.contactFirstName.errors.pattern">
                                        {{langVar.invalid.namePattern}}
                                   </div>
                              </div>
                         </div>
                         <div class="input-container mb-4">
                              <input class="form-control mb-2" type="text" name="lastName" placeholder="{{langVar.placeholder.LastName}}"
                                   formControlName="contactLastName" />
                                   <img src="./assets/images/icons/icon-user.png" width="20" height="20" [ngClass]="{'ar-icon': currentLang == 'ar'}" />
                              <div *ngIf="contactFormControls.contactLastName.invalid && (contactFormControls.contactLastName.dirty|| contactFormControls.contactLastName.touched)"
                                   class="alert alert-danger mt-1 px-2 py-0 mb-0" style="display:block; ">
                                   <div *ngIf="contactFormControls.contactLastName.errors.required">
                                        {{langVar.invalid.requiredName}}
                                   </div>
                                   <div *ngIf="contactFormControls.contactLastName.errors.pattern">
                                        {{langVar.invalid.namePattern}}
                                   </div>
                              </div>
                         </div>
                         <div class="input-container mb-4">
                              <input class="form-control mb-2" type="text" name="contactEmail" placeholder="{{langVar.placeholder.email}}"
                                   formControlName="email" />
                                   <img src="./assets/images/icons/icon-email.png" width="20" height="20" [ngClass]="{'ar-icon': currentLang == 'ar'}" />
                              <div *ngIf="contactFormControls.email.invalid && (contactFormControls.email.dirty|| contactFormControls.email.touched)"
                                   class="alert alert-danger mt-1 px-2 py-0 mb-0" style="display:block; ">
                                   <div *ngIf="contactFormControls.email.errors.required">
                                        {{langVar.invalid.requiredEmail}}
                                   </div>
                                   <div *ngIf="contactFormControls.email.errors.email">
                                        {{langVar.invalid.emailPattern}}
                                   </div>
                              </div>
                         </div>
                         <div class="input-container mb-4">
                              <input class="form-control mb-2" type="text" name="contactNumber"
                                   placeholder="{{langVar.placeholder.PhoneNumber}}" formControlName="mobileNumber" />
                                   <img src="./assets/images/icons/icon-phone.png" width="20" height="20" [ngClass]="{'ar-icon': currentLang == 'ar'}" />
                              <div *ngIf="contactFormControls.mobileNumber.invalid && (contactFormControls.mobileNumber.dirty|| contactFormControls.mobileNumber.touched)"
                                   class="alert alert-danger mt-1 px-2 py-0 mb-0" style="display:block; ">
                                   <div *ngIf="contactFormControls.mobileNumber.errors.required">
                                        {{langVar.applicationForm.phoneRequired}}
                                   </div>
                                   <div *ngIf="contactFormControls.mobileNumber.errors.pattern">
                                        {{langVar.applicationForm.phonePattern}}
                                   </div>
                              </div>
                         </div>
                         <div class="input-container mb-4">
                              <input class="form-control mb-2" type="text" name="contactSubject" placeholder="{{langVar.contact.subject}}"
                                   formControlName="contactSubject" />
                              <div *ngIf="contactFormControls.contactSubject.invalid && (contactFormControls.contactSubject.dirty|| contactFormControls.contactSubject.touched)"
                                   class="alert alert-danger mt-1 px-2 py-0 mb-0" style="display:block; ">
                                   <div *ngIf="contactFormControls.contactSubject.errors.required">
                                        {{langVar.invalid.required}}
                                   </div>
                              </div>
                         </div>
                         <div class="input-container mb-4" [ngClass]="{'text-right':currentLang=='ar'}">
                              <label for="contactMessage">{{langVar.contact.message}}</label>
                              <textarea class="form-control mb-4" formControlName="contactMessage"></textarea>
                              <div *ngIf="contactFormControls.contactMessage.invalid && (contactFormControls.contactMessage.dirty|| contactFormControls.contactMessage.touched)"
                                   class="alert alert-danger mt-1 px-2 py-0 mb-0" style="display:block; ">
                                   <div *ngIf="contactFormControls.contactMessage.errors.required">
                                        {{langVar.invalid.required}}
                                   </div>
                              </div>
                         </div>
                         <button type="submit" [disabled]="!contactForm.valid" *ngIf="!disabled"
                              (click)="CreateContactRequest()" class="btn btn-primary" [ngClass]="{'text-right': currentLang == 'ar'}">{{langVar.contact.contact}}</button>
                         <label style="color: #31d190;" *ngIf="contactResult == 'success'">{{langVar.contact.messageSent}}</label>
                         <label style="color: #2c3e50" *ngIf="contactResult == 'failure'">{{langVar.contact.messageError}}</label>
                    </form>
               </div>
               <div class="col-lg-5 col-12 text-center">
                    <div class="mt-5 infoSection">
                         <h3><img src="./assets/images/icons/icon-location.png" width="20" height="25" class="mr-2" [ngClass]="{'ar-info-icon': currentLang == 'ar'}" /> {{langVar.contact.findus}}</h3>
                         <p class="mt-3">+201133223344</p>
                         <p>Bmap@gmail.com</p>
                         <p>Cairo City</p>
                    </div>
                    <div class="infoSection">
                         <h3><img src="./assets/images/icons/icon-phone-ring.png" width="20" height="20" class="mr-2" [ngClass]="{'ar-info-icon': currentLang == 'ar'}"/>{{langVar.contact.ring}}</h3>
                         <p class="mt-3">+201133223344</p>
                         <p>Bmap@gmail.com</p>
                         <p>Cairo City</p>
                    </div>
                    <div class="infoSection">
                         <h3><img src="./assets/images/icons/icon-info.png" width="20" height="20" class="mr-2" [ngClass]="{'ar-info-icon': currentLang == 'ar'}"/>{{langVar.contact.legal}}</h3>
                         <p class="mt-3">+201133223344</p>
                         <p>Bmap@gmail.com</p>
                         <p>Cairo City</p>
                    </div>
               </div>
          </div>
     </div>
</section>
<!--Map section-->
<section class="mt-5">
     <div class="container-fluid" style="padding: 0;">
          <div class="row mapContainer">
               <iframe class="Mapfram col-12"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1452.5718534483174!2d31.293471505588318!3d30.013394356836127!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzDCsDAwJzQ3LjciTiAzMcKwMTcnMzYuNiJF!5e0!3m2!1sar!2seg!4v1608540644488!5m2!1sar!2seg"
                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
     </div>
</section>
