.background {
  background: url(../../../assets/images/contact/cover.png) no-repeat 0 0;
  background-position: bottom;
  background-size: cover;
  height: 70vh;
}

.form-control{
  width: 65%;
}
textarea{
  border-radius: 15px;
  height: 100px;
}

.btn{
  background-color: #1351c3 !important;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 23%;
}

h3{
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

h1{
  font-weight: 500;
  font-size: 28px;
  color: #000000;

}

.mapContainer
{
    height:60vh ;
}

.input-container{
  position: relative;
  input{
    text-indent: 30px;
  }
  img{
    position: absolute;
    top: 45px;
    left: 15px;
  }
}
.infoSection{
  position: relative;
  p{
    line-height: 0.7rem;
  }
  img{
    position: absolute;
    left: 80px;
  }
}
