<section class="{{langVar.arabicClass}} " *ngIf="serviceList">
    <div class="text-center" style="overflow-x:hidden;">
        <div class="position-relative">
          <h1 class="text-center mb-2 title">{{langVar.serviceCarousel.title}}</h1>
            <owl-carousel-o [options]="carouselOptions">
                <ng-container *ngFor="let service of serviceList">
                    <ng-template carouselSlide id="owl-slide-{{service.id}}">
                        <div class="imageContainer mb-5" style="margin: 0 auto;cursor:pointer">
                            <img [src]="service.icon" [alt]="service.nameEN" class="carouselImage pt-3 "
                                [title]="service.nameEN" (click)="routeTo(service)">
                            <h1 class="mt-2" *ngIf="currentLang=='en'">{{service.nameEN}}</h1>
                            <h1 class="mt-2" *ngIf="currentLang=='ar'">{{service.nameAR}}</h1>
                            <!--<p class="mb-5 pb-3 desc" *ngIf="currentLang=='en'">{{service.descriptionEN}}</p>
                            <p class="mb-5 pb-3 desc" *ngIf="currentLang=='ar'" dir="rtl">{{service.descriptionAR}}</p>-->
                        </div>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>
</section>
