.arabic h1, .arabic h2, .arabic h3, .arabic h4, .arabic h5, .arabic h6, .arabic p, .arabic .nav-link, .arabic a {
  font-family: 'Cairo';
}

.carouselImage {

  width: 70px !important;
  height: 80px !important;

  margin: 0 auto;

  img {
    object-fit: cover;
  }
}
h1 {
  color: #000000;
  font-weight: 500;
  text-shadow: 2px 2px 2px #000000bc;
}
p {
  line-height: 1.3;
}
.imageContainer {
  margin-top: 5% !important;
  width: 200px !important;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 20px 37px 0 rgba(0, 0, 0, 0.05);
  background-color: #f9f9ff;

  h1 {
    font-size: 23px;
    text-align: center;
    color: #000000;
    font-weight: 500;
    text-shadow: none;
  }

  p {

    color: #6b6969;
  }
}
@media screen and (max-width: 1024px) {
    h1{
        font-size:32px;
    }
}

.desc{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 1.5em;        /* fallback */
  max-height: 2em;       /* fallback */
}

