.carouselImage{
  width: 60% !important;
  margin: 0 auto;
}

.imageContainer{
  margin-top: 5% !important;
  width: 200px !important;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 20px 37px 0 rgba(0, 0, 0, 0.05);
  background-color: #f9f9ff;
  h1{
    font-size: 23px;
    color: #000000;
    font-weight: 500;
  }
  p{
    color: #6b6969;
  }
}