

.arabic h1, .arabic h2, .arabic h3, .arabic h4, .arabic h5, .arabic h6, .arabic p, .arabic .nav-link, .arabic a {
  font-family: 'Cairo';
}
.mobView {
  display: none;
}
.carouselImage {
  width: 100%;
}
.imageContainer {
  width: 150px !important;
  text-align: center;
  height: 150px;
  display: flex;
  align-items: center;

  img {
    object-fit: contain;
  }
}
p {
  color: #241b1b;
  line-height: 1.3;
  margin: 0 auto;
  max-width: 40%;
}
h1, h4 {
  text-shadow: 2px 2px 3px #000000bc;
  color: #000000;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 900px) {
  p {

    max-width: 100%;
  }
  .mobView {
    display: block;
  }
  .webView {
    display: none;
  }
  h1{
      font-size:25px;
  }
    }
