<div id="centerdiv" *ngIf="!ServicesList">
  <!--  preloader-->
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div *ngIf="ServicesList">
  <div class=" site-blocks-cover background"
       style=" background-image: url(./assets/images/covers/services.png);">
  </div>
  <section class="mx-5 my-2">
    <h1 class="pb-4" >Our Services For Our Awesome Clients</h1>
    <div class="d-flex justify-content-around flex-wrap my-5" data-aos="fade-up" data-aos-delay="300" data-aos-duration="500">
      <div class="card col-12 col-md-4" *ngFor="let service of ServicesList" (click)="ToService(service.id)">
        <div>
          <img src={{service.header}} />
        </div>
        <h4 class="mt-1">
          {{service.nameEN}}
        </h4>
      </div>
    </div>
  </section>
</div>
