.aboutBG {
  background: url(../../../assets/images/aboutgb.png) no-repeat 0 0;
  background-position: center;
  background-size: contain;
  height: 100vh;
}
.aboutContent{
    display:flex;
    align-content:center;
    flex-direction:column;
    justify-content:center;
}
.background {
  background-position: bottom;
  background-size: cover;
  height: 70vh;
}

h1, h4 {
  color: #000000;
  font-family: 'Poppins', sans-serif;

}
h1 {
  text-shadow: 2px 2px 7px #000000bc;
}
  main {
    position: relative;
  }

button {
  border-radius: 7px;
  background-color: #1351c3;
  border: none;
  color: #fff;
  padding: 8px 30px;
}

button:active, button:focus, button:hover {
  outline-style: none;
  border: none;
  background-image: linear-gradient(to right, #6ba4ffff 2%, #2177ffcf 100%);
}
#credit {
  /*    background:url()
  background-color: #0d13d7;
*/
  -webkit-clip-path: polygon(0 0, 100% 35%, 100% 65%, 0% 100%);
  clip-path: polygon(0 0, 100% 25%, 100% 80%, 0% 100%);
  background: #ebebf8;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  display: flex;

  h1 {
    font-size: 30px;
  }

  p {
    color: #707070;
    line-height: 1.2;
  }

  .imgContainer {
    width: 170px;
    height: 170px;
    cursor: pointer;
    transition: all 2s ease-in-out;
    position: relative;
    background: url(../../../assets/images/login.png) no-repeat 0 0;
    background-position: center;
    background-size: contain;
  }

  .imgContainer :hover, .imgContainer :active .imgContainer
  {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
  }
}
.site-blocks-cover{
    min-height:100%;
}
.overlay {
  transition: all .5s ease;
  width: 0;
  bottom: 0;
  top: 0;
  left: 0;
  right: 100%;
  height: auto;
}
.imgContainer:hover .overlay {
  right: 0;
  width: 100%;
}

.arabic {
}
@media screen and (max-width: 1024px) {
  .aboutBG {
    height: 70vh;
  }



  .background {
    background-position: bottom;
    background-size: cover;
    height: 50vh;
    min-height: inherit;
  }
}
