.aboutBG {
  background: url(../../../assets/images/aboutHome.png) no-repeat 0 0;
  background-position:center;
  background-size:contain;
  height:100vh;
}
.aboutContent{
    display:flex;
    align-content:center;
    flex-direction:column;
    justify-content:center;
}
.background {
  background-position: bottom;
  background-size: cover;
  height: 70vh;
}
.subscribe {
  background-color: #1351c3;
  color: #ffffff;
  border-radius: 16px;
  width: 100vw;
}
h1, h4 {
  color: #000000;
  font-family: 'Poppins', sans-serif;
}
#subscribeContainer{
    position:absolute;
    bottom:-30px;

}
#beforeSubscribe {
  height: 30vh;
}
  main {
    position: relative;
  }

  input {
    width: 215px;
    border-radius: 20px;
    position: relative;
    border-radius: 20px !important;
    z-index: 0 !important;
    color: #1351c3 !important;
    padding-right: 110px;
  }

  .btn {
    z-index: 2 !important;
    position: absolute;
    right: 7px;
    top: 5px;
    border-radius: 20px;
    margin-bottom: 8px;
    height: 35px;
    border-radius: 20px !important;
    background-color: #1351c3 !important;
    color: #fff !important;
  }

  .site-block-subscribe .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #1351c3 !important;
    font-weight: 200;
    font-style: italic;
  }

  .site-block-subscribe .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #7c7c7c !important;
    font-weight: 200;
    font-style: italic;
  }

  .site-block-subscribe .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #7c7c7c !important;
    font-weight: 200;
    font-style: italic;
  }

  .site-block-subscribe .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #7c7c7c !important;
    font-weight: 200;
    font-style: italic;
  }
button {
  border-radius: 7px;
  background-color: #1351c3;
  border: none;
  color: #fff;
  padding: 8px 30px;
}

button:active, button:focus, button:hover {
  outline-style: none;
  border: none;
  background-image: linear-gradient(to right, #6ba4ffff 2%, #2177ffcf 100%);
}
@media screen and  (max-width: 1024px) {
  .aboutBG {

    height: 70vh;
  }



  .background {
    background-position: bottom;
    background-size: cover;
    height: 50vh;
    min-height: inherit;
  }
    }
