<div style="margin-top: 5%;">
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">hi</th>
                            <th scope="col">hi2</th>
                            <th scope="col">hi2</th>
                            <th scope="col">hi2</th>
                            <th scope="col">hi2</th>
                            <th scope="col">hi2</th>
                            <th scope="col">hi2</th>
                            <th scope="col">hi2</th>
                            <th scope="col">hi2</th>
                            <th scope="col">hi2</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td  style="color: #1351c3;">User Name</td>
                            <td style="color: #8c929c;">Mohammed Ahmed</td>
                            <td  style="color: #1351c3;">E-Mail</td>
                            <td style="color: #8c929c;">#8c929c</td>
                            <td  style="color: #1351c3;">Phone Number</td>
                            <td style="color: #8c929c;">#8c929c</td>
                            <td  style="color: #1351c3;">Password</td>
                            <td style="color: #8c929c;">************************</td>
                            <td  style="color: #1351c3;">Confirm Password</td>
                            <td style="color: #8c929c;">************************</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>