<div class=" site-blocks-cover background" style="background-image: url(./assets/images/about/cover.png);">
</div>

<main class="{{langVar.arabicClass}}">
  <section class="mx-5 position-relative">
    <h1 class="mb-4 text-left {{langVar.textAlign}} position-absolute" >
      {{langVar.about.title1}}
    </h1>
    <p class="text-left {{langVar.textAlign}}" data-aos="fade-up" data-aos-duration="500" dir="{{langVar.dir}}">
      {{langVar.about.content1}}
    </p>
  </section>
  <section class=" container mb-5">
    <div class="row pr-0 m-0">
      <div class="col-12 col-md-6 aboutBG" data-aos="slide-left" data-aos-duration="700">

      </div>
      <div class="col-11 col-md-6 aboutContent p-3 pr-0 pr-xl-5 m-auto" data-aos="fade-up" data-aos-delay="400" data-aos-duration="500">
        <h1 class="mb-3 {{langVar.textAlign}}">
        {{langVar.about.title2}}
        </h1>

        <!-- <h4 class="mb-3 {{langVar.textAlign}}">
          Built The App That
          Everyone Love.
        </h4> -->

      <p class="pr-0  {{langVar.textAlign}}" dir="{{langVar.dir}}">
        {{langVar.about.content2}}
      </p>

      </div>
    </div>
  </section>
<!--Bank slider section-->
<app-bank-slider></app-bank-slider>

<app-subscription></app-subscription>
</main>

