
<div id="centerdiv" *ngIf="!service"> <!--  preloader-->
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>

<div *ngIf="service">
       <!--style=" background-image: url({{service[0].header}});"-->
  <div class="site-blocks-cover background "
       style=" background-image: url(./assets/images/covers/service.png);"
       *ngIf="service" data-aos="fade">

  </div>
  <section class="container pt-2 mb-5" >
    <h1 data-aos="fade-up" data-aos-delay="400" data-aos-duration="500">
      {{service[0].nameEN}}
    </h1>
    <p data-aos="fade-up" data-aos-delay="400" data-aos-duration="500">
      {{service[0].descriptionEN}}

    </p>
    <div class="text-right">

    <button class=" mx-5" data-aos="fade-up" data-aos-delay="300" data-aos-duration="700" >
      Request
    </button>
    </div>
  </section>
</div>


