<section id="credit" class="mb-5">
  <div data-aos="fade-up" data-aos-delay="400" data-aos-duration="500" class="my-5 container">
    <h1 class="text-center">
      {{langVar.Home.creditTitle}}
    </h1>
    <p class="text-center col-12 col-xl-6 m-auto" dir="{{langVar.dir}}">
      {{langVar.Home.creditDesc}}
    </p>
    <div class="container">
      <div class="d-flex justify-content-around py-5 flex-wrap">
        <div class="imgwrapper mb-5 mb-xl-0">
          <div class=" imgContainer  ">
            <div class="overlay site-blocks-cover">
            </div>
            <h1 class="imageContent"> Service</h1>
          </div>
        </div>
        <div class="imgwrapper  mb-5 mb-xl-0">
          <div class=" imgContainer  ">
            <div class="overlay site-blocks-cover">
            </div>
            <h1 class="imageContent"> Service</h1>
          </div>
        </div>
        <div class="imgwrapper ">
          <div class=" imgContainer  ">
            <div class="overlay site-blocks-cover">
            </div>
            <h1 class="imageContent"> Service</h1>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--<div class="imgwrapper">
    <div class="article-img-holder imgContainer">
      <div class="overlay site-blocks-cover">
      </div>
    </div>
  </div>-->
</section>