<div class="container-fluid background d-flex flex-row justify-content-center padding">


    <div class="card first-card text-center text-align-center center">
      <img src ="../../../../assets/img/LoginLogo.png " class="card-img-top card-image">
      <div class="card-body">
        <p class="card-text">يحدد دستور دولة الإمارات العربية المتحدة
          حريات وحقوق جميع المواطنين ،
          يحظر التعذيب والاعتقال التعسفي و
          الاحتجاز ، ويحمي الحريات المدنية ،
          بما في ذلك حرية الكلام و
          الصحافة والتجمع السلمي و
          الجمعية ، وممارسة
          المعتقدات الدينية
        </p>
      </div>
    </div>

      <div class="card second-card text-center center col-4">
        <div class="card-body">

          <h1 class="card-text">ابدأ باستخدام بصمتك </h1>


          <p>هوية رقمية واحدة موثوقة للجميع
            المواطنين والمقيمين والزوار
          </p>

          <h1>
            عملية ناجحة
          </h1>

        </div>
      </div>


</div>
