.product-item {
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-box-shadow: 5px 9px 18px -7px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 9px 18px -7px rgba(0,0,0,0.5);
  box-shadow: 5px 9px 18px -7px rgba(0,0,0,0.5);
  margin: 30px;
  width: 100px;
  text-align: center;
}

.product-image {
  padding: 10px;

    border: none;
  img {
    width: 100%;
    object-fit: contain;
  }

  img:focus {
    border: none !important;
  }

  img:active {
    border: none !important;
  }
}
.slide :active{
  border: none !important;
}
.product-image :focus {
  border: none !important;
}
.product-image :active {
    border: none !important;
  }

  .slide {
    // width: 200px !important;
    padding: 30px;

    img {
      text-align: center;
      width: 100%;
    }
  }

  h2 {
    color: #23418b;
    font-weight: bold;
    line-height: 1.37;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1.2px;
  }

  @media only screen and (max-device-width: 500px) {
    .slide {
      padding: 50px;
    }
  }
