<section class="site-section" id="partners-section">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-md-7 text-center">
        <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">Our Partners</h2>
        <p class="lead" data-aos="fade-up" data-aos-delay="100">
          we are proud to share our partners
        </p>
      </div>
    </div>
    <div class="row align-items-lg-center">
      <div class="col-12" data-aos="fade-up" data-aos-delay="">
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig">
          <div ngxSlickItem class="slide">
            <img src="/assets/images/Dashboard.png">
          </div>

        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>
