.arabic h1, .arabic h2, .arabic h3, .arabic h4, .arabic h5, .arabic h6, .arabic p, .arabic .nav-link, .arabic a {
  font-family: 'Cairo';
}
.icon-menu{
    color:#fff;
}
#centerdiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  ul {
    display: flex;

    li {
      list-style: none;
      height: 20px;
      width: 20px;
      background-color: red;
      margin: 0 4px;
      border-radius: 50%;
      animation: bounce 1s linear infinite;
    }
  }

  ul {
    li:nth-child(1) {
      animation-delay: 0.2s;
      background-color: #1351c3;
    }

    li:nth-child(2) {
      animation-delay: 0.6s;
      background-color: #185ADC;
    }

    li:nth-child(3) {
      animation-delay: 0.1s;
      background-color: #6C98EF;
    }

    li:nth-child(4) {
      animation-delay: 0.8s;
      background-color: #39496a;
    }

    li:nth-child(5) {
      animation-delay: 0.5s;
      background-color: #4F6592;
    }

    li:nth-child(6) {
      animation-delay: 0.1s;
      background-color: #889ABF;
    }
  }

  @keyframes bounce {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-40px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}


.searchResItem{
  cursor: pointer !important;
}
.searchResItem:hover{
  color: black !important;
}

.site-navbar .site-navigation .site-menu a {
  font-size: 12px;
}

.imgContainer {
  width: 130px;

  img {
    width: 100%;
    height: 100%;
  }
}

.icon-facebook, .icon-instagram, .icon-twitter {
  color: #9c9ca8;
  /*margin-left: 10px;*/
  border: 1px solid #9c9ca8;
  border-radius: 50%;
  padding: 4px 5px 4px 5px;
  font-size: 14px;
}
.icon-facebook {
  padding: 4px 6px 4px 6px;
}
.icon-facebook:hover, .icon-instagram:hover, .icon-twitter:hover {
  border: 1px solid #9c9ca8cc;
  color: #9c9ca8cc;
}
a {
  text-decoration: none;
  font-weight: 600 !important;
}
.nav-link{
  cursor:pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 10px;
}
footer {
  li, a {
    list-style: none;
    cursor: pointer;
  font-size: 14px;
  }

  a:hover, li:hover {
    color: #9c9ca8cc;
  }
}
.highlighted{
  border-bottom: 2px solid #fff;
}
.loginbtn {
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  width: 70px;
  height: 25px;
  position: relative;

  a {
    color: #0b71de !important;
    font-size: 10px;
    font-weight: 500;
  }

  img {
    display: none;
    position: absolute;
  }
}
.initials {
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  width: 30px;
  height: 30px;

  a {
    color: #0b71de !important;
    font-size: 12px;
    font-weight: 500;
  }

}
.loginbtn:hover {
  img {
    display: block;
  }
}

.imageContainer {
  border-radius: 50px;
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: cover;
}
