
.arabic h1, h2, h3, h4, h5, h6, p,.nav-link , a {
  font-family: 'Cairo' !important;
}

.imgContainer {
  width: 130px;
  img{
      width:100%;
      height:100%;
  }

}

.icon-facebook, .icon-linkedin, .icon-twitter {
  color: #9c9ca8;
  /*margin-left: 10px;*/
  border: 1px solid #9c9ca8;
  border-radius: 50%;
  padding: 4px 5px 4px 5px;
  font-size: 14px;
}
.icon-facebook {
  padding: 4px 6px 4px 6px;
}
.icon-facebook:hover, .icon-linkedin:hover, .icon-twitter:hover {
  border: 1px solid #9c9ca8cc;
  color: #9c9ca8cc;
}
a{
  text-decoration:none;

}
.nav-link{
  cursor:pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
}
footer {
  li, a {
    list-style: none;
    cursor: pointer;
  }

  a:hover, li:hover {
    color: #9c9ca8cc;
  }
}
.highlighted{
  border-bottom: 3px solid #0b71de;
}
.loginbtn {
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  width: 70px;
  height: 25px;
  position: relative;

  a {
    color: #0b71de !important;
    font-size: 12px;
    font-weight: 500;
  }

  img {
    display: none;
    position: absolute;
  }
}
.initials {
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
  width: 30px;
  height: 30px;

  a {
    color: #0b71de !important;
    font-size: 12px;
    font-weight: 500;
  }

}
.loginbtn:hover {
  img {
    display: block;
  }
}

.imageContainer {
  border-radius: 50px;
  width: 35px;
  height: 35px;
  background-position: center;
  background-size: cover;
}
