
p, label, h1, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

.arabic h1, .arabic h2, .arabic h3, .arabic h4, .arabic h5, .arabic h6, .arabic p, .arabic .nav-link, .arabic a {
  font-family: 'Cairo';
}

.background {
  height: 64px;
  background: url(../../../assets/images/offerCover.png) no-repeat 0 0;
  background-position: bottom;
  background-size: cover;
}
h1 {
  color: #1351c3;
  font-size:25px;
  font-weight:500;
  margin:0;
}
p,label{
    margin:0;
}

#centerdiv {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  ul {
    display: flex;

    li {
      list-style: none;
      height: 20px;
      width: 20px;
      background-color: red;
      margin: 0 4px;
      border-radius: 50%;
      animation: bounce 1s linear infinite;
    }
  }

  ul {
    li:nth-child(1) {
      animation-delay: 0.2s;
      background-color: #1351c3;
    }

    li:nth-child(2) {
      animation-delay: 0.6s;
      background-color: #185ADC;
    }

    li:nth-child(3) {
      animation-delay: 0.1s;
      background-color: #6C98EF;
    }

    li:nth-child(4) {
      animation-delay: 0.8s;
      background-color: #39496a;
    }

    li:nth-child(5) {
      animation-delay: 0.5s;
      background-color: #4F6592;
    }

    li:nth-child(6) {
      animation-delay: 0.1s;
      background-color: #889ABF;
    }
  }


  @keyframes bounce {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-40px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


//offer card style
.icon-container {
  width: 170px;

  img {
    width: 100%;
  }
}

h3 {
  font-size: 0.9rem;
  color: #1351c3;
  font-weight: 500;
}
.offer-benefits {

  p {
    font-size: 0.8rem;
    line-height: 1.6 !important;
    width: 150px;
  }

 
}

.offer-details {

  border: none;
  box-shadow: 0 3px 22px 0 rgba(106, 106, 106, 0.48);

  .card-body {
    padding: 1rem;
  }
}

h3 {
  font-size: 1rem;
  color: #1351c3;
}

.offer-details-container {

  i {
    float: right;
  }

  label {
    font-size: 1rem;
    color: #1351c3;
    line-height: 1;
    font-weight: 500;
  }

  p {
    font-size: 0.8rem;
    line-height: 1;
  }
}
button {
  background-image: linear-gradient(to left, #1452c4, #5284ec);
  font-size: 0.9rem;
  padding: .3rem 1.6rem;
}
.types-container {
  h3 {
    font-size: 0.8rem;
    color: #1351c3;
  }

  p {
    font-size: 0.7rem;
    line-height: 3;
  }

  .type :hover {
    background: #e2e2e2;
  }

  .type:active {
    background: #e2e2e2;
  }
  hr{
      margin:0;
  }
}
.types{
    width:70%;
}
.mobView {
  display: none;
}
.modal-dialog {
  width: 80%;
  max-width: 75%;

  h3 {
    font-size: 1.2rem;
    color: #1351c3;
  }

  label {
    font-size: 1rem;
    color: #1351c3;
    line-height: 1.5;
    font-weight: 500;
  }

  p {
    font-size: 0.8rem;
    line-height: 1;
  }

  .modal-header, .modal-footer {
    border-bottom: none;
  }

  .alert {
    font-size: .8rem;
  }

  input {
    background-color: #f8f8f8;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    border-radius: 4px;
    border: none;
    font-size: 0.8rem;
  }

  #privacyCheckbox {
    box-shadow: none;
    background-color: transparent;
  }

  .checkboxLabel {
    padding: 0;
    color: #000;
  }
}
h4 {
  font-size: 1rem;
}
@media screen and (max-width: 1240px) {
  .webView {
    display: none;
  }

  .offer-container {
    width: 100%;
  }

  .mobView {
    display: block;
  }

  .d-flex {
    flex-wrap: wrap;
  }

  .offer-details {
    width: 100%;
  }

  .icon-container {
   
    margin-bottom: 20px;
  }

  .row {
    margin: 0;
    padding: 0;
  }

  .offer-benefits p {
    width: auto;
  }
  .modal-dialog {

    max-width: 95% !important;
    width: 100% !important;

    h3 {
      font-size: 1.2rem;
      color: #1351c3;
    }

    label {
      font-size: 0.8rem;
      color: #1351c3;
      line-height: 1;
    }

    p {
      font-size: 0.7rem;
      line-height: 1;
    }

    .modal-header, .modal-footer {
      border-bottom: none;
    }

    input {
      background-color: #f8f8f8;
      box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
      border-radius: 4px;
      border: none;
    }

    #privacyCheckbox {
      box-shadow: none;
      background-color: transparent;
    }

    .checkboxLabel {
      padding: 0;
      color: #000;
    }
  }
}

.Quick:hover{
    font-weight:500;


}

.Quick{
    transition:2s all ease-in-out;
}
